#break-line {
  border: black double;
}

#break-line2 {
  border: black double;
}

#break-line3 {
  border: black double;
}

#save-button {
  background-color: #508ca4;
}

#back-button {
  background-color: #508ca4;
}

.text-align-center {
  text-align: center;
}
